/*------------------------------------------*/
/*  mobile-menu
/*------------------------------------------*/

.mobile-menu{
  display: none;
  // position: relative;
  position: fixed;
  width: 100%;
  text-align: center;
  // top: 60px;
  top: 100px;
  left: 0;
  background: #fff;
  z-index: 10000;
  border-top: 1px solid gray;
  ul{ 
    margin:0;
    padding:0;
  }
  li{
    list-style-type: none;
      background:rgba(240,248,255,1);
      border-bottom: 1px solid gray;
      // background: #323232;
      // border-bottom: 1px solid #000;
  }
  a{
      color: #000;
      // color: #fff;
      display: block;
      height: 40px;
      line-height: 40px;
  }

  &__btn{
      // width: 30px;
      width: 35px;
      height: 26px;
      position: absolute;
      top: 0;
      bottom: 0;
      // right: 10px;
      right: 30px;
      margin:auto;
      cursor: pointer;

  }
  &__line{
      display: block;
      position: absolute;
      // width: 30px;
      width: 35px;
      height: 2px;
      // background: #fff;
      background: #000;
      -webkit-transition: .3s;
      transition: .3s;
  }
  &__line1{
      top: 0;
      bottom: auto;
      margin-bottom: 10px;
  }
  &__line2{
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
  }
  &__line3{
      bottom: 0;
      top: auto;
  }
  &__cover{
      position: fixed;
      width: 100%;
      visibility: hidden;
      z-index: -1;  
      -webkit-transition: .3s;
      transition: .3s;
  }

  &__cover.active{
      // position: relative;
      height:100%;
      visibility: visible;
      // background:rgba(0,0,0,0.4);
      // background:rgba(240,248,255,0.4);
      background:rgba(256,256,256,1);
      z-index: 1000;
  }
  
  &__btn.active{
      &__line2{
          right: -60px;
          // right: 0px;
      }
      &__line1{
          top: 0;
          bottom: 0;
          margin: auto;
          transform:rotate(45deg);
      }
      &__line3{
          top: 0;
          bottom: 0;
          margin: auto;
          transform:rotate(-45deg);
      }
  }
}

